# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Platform-generated (created by `flutter create`; see SHIPPING.md)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
android/key.properties

# IDE / OS
.idea/
.vscode/
.DS_Store
